<div data-id="{{id}}" class="review">
  <h1 data-attribute="title">{{title}}</h1>
  <p data-attribute="content">{{content}}</p>
  <a href="#" data-bind="reviews/edit">Edit</a>
  <a href="#" data-bind="reviews/destroy">Delete</a>
</div>