<div data-id="{{id}}" class="review">
  <h1 data-attribute="title">{{title}}</h1>
  <p data-attribute="content">{{content}}</p>
  <a href="#" data-controller="reviews" data-action="edit">Edit</a>
  <a href="#" data-controller="reviews" data-action="destroy">Delete</a>
</div>