<div class="edit-review">
  <form data-id="{{id}}" data-action="review-update">
    <label for="review-title">Title</label><br />
    <input type="text" name="title" value="{{title}}" data-attribute="title"><br />
    <label for="review-content">Review</label><br />
    <textarea name="content" data-attribute="content">{{content}}</textarea><br />
    <input type="submit" name="commit" value="Save">
  </form>
</div>