<div data-id="{{id}}" class="<%= name.downcase %>">
  <%- attributes.each do |attribute| %>
    <%- if attribute.type == 'text' %>
      <p data-attribute="<%= attribute.name %>">{{<%= attribute.name %>}}</p>
    <%- else -%>
      <h1 data-attribute="<%= attribute.name %>">{{<%= attribute.name %>}}</h1>
    <%- end -%>
  <% end %>

  <a href="#" data-bind="<%= name.downcase.pluralize %>#edit">Edit</a>
  <a href="#" data-bind="<%= name.downcase.pluralize %>#destroy">Delete</a>
</div>