<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= name.capitalize.pluralize %></title>
  </head>
  <body>
    
    <h1><%= name.titlecase.pluralize %></h1>

    <h2>Add:</h2>
    
    <form data-bind="<%= name.downcase.pluralize %>#create">
      <%- attributes.each do |attribute| %>
        <label for="<%= name.downcase %>-<%= attribute.name %>"><%= attribute.name.titlecase %></label><br />
        <%- if attribute.type == 'text' %>
          <textarea name="<%= attribute.name %>" data-attribute="<%= attribute.name %>"></textarea><br />
        <%- else %>
          <input type="text" name="<%= attribute.name %>" value="" data-attribute="<%= attribute.name %>"><br />
        <%- end -%>
      <%- end -%>

      <input type="submit" name="commit" value="Save">
    </form>
    
    <div id="<%= name.downcase.pluralize %>">
      
    </div>
  </body>
  <script src="<%= prefix %>vendor/jquery/jquery-1.4.2.min.js"></script>
  <script src="<%= prefix %>vendor/jquery/jquery.ba-bbq.min.js"></script>
  <script src="<%= prefix %>vendor/mustache/mustache.0.3.0.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/o_O.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/modules/o_O.model.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/modules/o_O.validations.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.controller.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.routes.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.support.js"></script>
  <script src="<%= prefix %>vendor/eyeballs/adapters/o_O.localstorage.js"></script>
  <script src="<%= prefix %>config/initializer.js"></script>
  <script src="<%= prefix %>config/routes.js"></script>
  <script src="<%= prefix %>app/models/<%= name.downcase %>.js"></script>
  <script src="<%= prefix %>app/controllers/<%= name.downcase.pluralize %>_controller.js"></script>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      <%= name.capitalize.pluralize %>Controller.index();
    })
  </script>
</html>