<h2>Add a <%= name.titlecase %></h2>

<form data-bind="<%= name.downcase.pluralize %>/create">
  <%- attributes.each do |attribute| %>
    <label for="<%= name.downcase %>-<%= attribute.name %>"><%= attribute.name.titlecase %></label><br />
    <%- if attribute.type == 'text' %>
      <textarea name="content" data-attribute="content"></textarea><br />
    <%- else %>
      <input type="text" name="<%- attribute.name %>" value="" data-attribute="<%= attribute.name %>"><br />
    <%- end -%>
  <%- end -%>
  
  <input type="submit" name="commit" value="Save">
</form>