<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Welcome to eyeballs.js</title>
  </head>
  
  <body>
    <h2>Welcome to eyeballs.js</h2>

    <p>A world of javascript goodness awaits!</p>
    
    <p>As you add models and controllers, don't forget to include them!</p>
    
    <script src="vendor/jquery/jquery-1.4.2.min.js"></script>
    <script src="vendor/jquery/jquery.livequery.js"></script>
    <script src="vendor/jquery/mustache.js"></script>
    <script src="vendor/eyeballs/o_O.js"></script>
    <script src="vendor/eyeballs/jquery.o_O.js"></script>
    <script src="vendor/eyeballs/o_O.localstorage.js"></script>
    <script type="text/javascript" charset="utf-8">
      o_O.model.adapter = o_O.localstorage;
    </script>
  </body>
</html>
