<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Welcome to eyeballs.js</title>
  </head>
  
  <body>
    <h2>Welcome to eyeballs.js</h2>

    <p>A world of javascript goodness awaits!</p>
    
    <p>As you add models and controllers, don't forget to include them!</p>
    
    <script src="<%= prefix %>vendor/jquery/jquery-1.4.2.min.js"></script>
    <script src="<%= prefix %>vendor/mustache/mustache.0.3.0.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/o_O.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/modules/o_O.model.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/modules/o_O.validations.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.controller.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.routes.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/drivers/jquery/modules/o_O.support.js"></script>
    <script src="<%= prefix %>vendor/eyeballs/adapters/o_O.localstorage.js"></script>
    <script src="<%= prefix %>config/initializer.js"></script>
    <script src="<%= prefix %>config/routes.js"></script>
    <script src="<%= prefix %>app/models/<%= name.downcase %>.js"></script>  </body>
</html>
